.main {
  width: min(1200px, calc(100% - 80px));
  margin: 0 auto;
  border-right: 1px solid #262626;
  border-left: 1px solid #262626;
  background: #09090b;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    border-right: 0;
    border-left: 0;
    background: #09090b;
  }
}
